{%  extends "base.html" %}

{% block head_title %}  {{ instance.crime }} | {{ block.super }} {% endblock head_title %}

{%  block content %}
<div class='col-sm-6 col-sm-offset-3'>

<h1>

    {{ title }}
    <br/>
    <small>
{{ instance.timestamp }}

</small>
</h1>
      {%  if instance.user.get_full_name %}
      <p>Name:{{ instance.user.get_full_name }}</p>
      {% endif %}

     {{ instance.crimedesc |linebreaks }}<br/>
     {{ instance.timestamp }}<br/>
     {{ instance.updated }}<br/>
     {{ instance.latitude }}<br/>
     {{ instance.longitude }}<br/>
</div>
{%  endblock content %}

